
.grid-container {
    display: grid;
    row-gap: 100px;
    column-gap: 100px;
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content;
    justify-content: center;
}
.grid-item {
    max-width: 400px;
    max-height: 400px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    background: rgb(240, 230, 211);
    height: auto;
}
.flex-item {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
}
.article-flex-container {
    display: flex;
    Width: 960px;
    Height: auto;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
}
.flex-item-sidebar {
    flex: 0.5;
    max-width: 100%;
    max-height: 100%;
}



body {
    font-family:"Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
article {
    color: #212121;
    text-align: justify;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
.image {
    max-width: 100%;
    max-height: 100%;
}
.banner {
    display: block;
    margin: auto;
}
.background {
    background: no-repeat center fixed;
    background-size: cover;
}
.article-text {
    font-size: larger;
}
.player {
    display: block;
    margin: auto;
    width: 960px;
    height: 642px;
    background-color: white;
    border:none;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }


@media (max-width: 1500px) {
    .grid-container {
        grid-template-columns: auto auto;
        grid-template-rows: max-content;
        justify-content: center;
    }
  }
@media (max-width: 1200px) {
    .flex-container {
      flex-direction: column;
    }
    .grid-container {
        padding: 5%;
        grid-template-columns: auto;
        grid-template-rows: max-content;
        justify-content: center;
    }
  }
  @media (max-width: 965px) {
    .article-flex-container {
        width: 100%;
    }
    .banner {
        width: 100%;
        height: auto;
    }
    .flex-item-sidebar {
        flex: 0;
        max-width: 0%;
        max-height: 0%;
    }
  }